<div class="pomodoro-overlay" *ngIf="visible" (click)="onClose()">
  <div class="pomodoro-modal" (click)="$event.stopPropagation()">
    <div class="modal-icon" [class.break]="!isFocusMode"></div>

    <div class="modal-title">
      {{ title }}
    </div>

    <div class="modal-sub">
      {{ texto }}
    </div>

    <div class="modal-actions">
      <button class="btn-secondary ghost" type="button" (click)="onClose()">
        Ok
      </button>

      <button
        class="btn-secondary"
        type="button"
        (click)="onNextStage()"
        [disabled]="acaoLoading || sessaoFinalizada"
      >
        Próxima etapa
      </button>
    </div>
  </div>
</div>
