<aside
  class="sidebar"
  [class.closed]="!open">

  <div class="sidebar-header">
    <img src="assets/icons/logo.svg" class="logo-icon" alt="Logo Cognora">
    <span class="logo-text">Cognora</span>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active" >
      <img src="assets/icons/house.svg" class="icon-img" alt="Home">
      Home
    </a>

    <a routerLink="/ciclos" routerLinkActive="active">
      <img src="assets/icons/arrow-repeat.svg" class="icon-img" alt="Meus Ciclos">
      Meus Ciclos
    </a>
      <a routerLink="/planejamento" routerLinkActive="active">
          <img src="assets/icons/book.svg" class="icon-img" alt="Meu Planejamento">
        Meu planejamento
      </a>
    <a routerLink="/configuracoes" routerLinkActive="active" class="bottom">
      <i class="icon">⚙</i>
      Configurações
    </a> 
  </nav>

</aside>
