<div class="layout">

  <!-- SIDEBAR -->
    <app-sidebar
      [open]="isSidebarOpen"
      [mobile]="isMobile"
      (navigate)="closeSidebarOnMobile()">
    </app-sidebar>

    <!-- OVERLAY MOBILE -->
      <div
        class="overlay"
        *ngIf="isMobile && isSidebarOpen"
        (click)="toggleSidebar()">
      </div>

  <!-- ÁREA PRINCIPAL -->
   <div class="layout-main" [class.sidebar-open]="!isMobile && isSidebarOpen">

      <app-topbar
        [mobile]="isMobile"
        (menuClick)="toggleSidebar()">
      </app-topbar>
 
     <div class="layout-content"> 
         <router-outlet></router-outlet>     
    </div> 

  </div>

</div>